<div class="jumbotron">
  <h1>Docker Advanced</h1>
  <p class="lead">
	 Training suite that makes you Docker Master :-) 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Let's get started!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Full-stack application</h4>
  <p>
    Complete application with Angular.JS client, Node.JS server, Redis and reverse proxy for server and client
  </p>

  <h4>Your task:</h4>
  <ol>
    <li>Clone this application from git</li>
    <li>Dockerize all components and run them with docker-compose</li>
    <li>Install application on docker-swarm</li>
  </ol>

</div>